<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Creat a Basketball Team!</h1>
   <form method="POST" action="/team">
     <p>Team Name: <input form="text" name="name"></p>
     <p>Coach: <input form="text" name="coach"></p>
     <p>Point Guard: <input form="text" name="pg"></p>
     <p>Shooting Guard: <input form="text" name="sg"></p>
     <p>Small Forward: <input form="text" name="sf"></p>
     <p>Power Forward: <input form="text" name="pf"></p>
     <p>Center: <input form="text" name="c"></p>
     <input type="submit">
  </form>
 </body>
</html>
